/* global settings */
html, body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    background: var(--primary-white);
    color: var(--grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img:not(.logo) {
    width: 100%;
    display: block;
}
/* make image fully fill up the div container (except .logo image) */

h1,h2,h3,h4 {
    letter-spacing: var(--spacing);
    line-height: 1.25;
    margin-bottom: 0.75rem;
    margin-top: 0;
}

h1 {
    font-size: 3rem;
    text-transform:uppercase;
}
h2 {
    padding: 40px;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-3)
}
h3 {
    font-size: 1.25rem;
    text-transform:capitalize;
}
h4 {
    font-size: 0.875rem;
}
p {
    margin-bottom: 1.25rem;
    color: var(--grey-5);
}
span {
    color: var(--primary-5)
}
