global variables
:root {
    --primary-10: #f2f8f9;
    --primary-9: #deeeef;
    --primary-8: #c1dee0;
    --primary-7: #96c6ca;
    --primary-6: #64a5ac;
    --primary-5: #4f959d;
    --primary-4: #3f727b;
    --primary-3: #385e66;
    --primary-2: #344f56;
    --primary-1: #2f444a;
    --grey-1: hsl(189,61%,35%);
    --grey-2: hsl(189,39%,35%);
    --grey-3: hsl(189,34%,35%);
    --grey-4: hsl(189,30%,35%);
    --grey-5: hsl(189,22%,49%);
    --grey-6: hsl(189,23%,60%);
    --grey-7: hsl(189,27%,70%);
    --grey-8: hsl(189,31%,80%);
    --grey-9: hsl(189,33%,90%);
    --grey-10: hsl(189,36%,98%);
    --primary-white: #fff;
    --ff-primary: "Noto Serif", serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0,0,0,0.1);
    --dark-shadow: 0 5px 15px rgba(0,0,0,0.2);
    --nav-height: 4rem;
}
/* =========================================== */
/* global settings */
html, body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    background: var(--primary-white);
    color: var(--grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img:not(.logo) {
    width: 100%;
    display: block;
}
/* make image fully fill up the div container (except .logo image) */

h1,h2,h3,h4 {
    letter-spacing: var(--spacing);
    line-height: 1.25;
    margin-bottom: 0.75rem;
    margin-top: 0;
}

h1 {
    font-size: 3rem;
    text-transform:uppercase;
}
h2 {
    padding: 40px;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-3)
}
h3 {
    font-size: 1.25rem;
    text-transform:capitalize;
}
h4 {
    font-size: 0.875rem;
}
p {
    margin-bottom: 1.25rem;
    color: var(--grey-5);
}
span {
    color: var(--primary-5)
}